
/* General styling */
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
}
:root {
    --primary-color: #1A8E75;
    --secondary-color: #67CBC1;
    --primary-light-color: #F6F4E5;
    --maybe-use-this-later-color: #DA8C48;
    --alert-color: #B55750;
}
body {
    background-color: var(--primary-color);
}

/* Forms */
input:valid {
    border: 1px solid var(--primary-color);
}
input:invalid {
    border: 1px solid var(--alert-color);
}
input[type="text"], input[type="tel"], input[type="email"], select, input[type="submit"] {
    padding: 10px;
    display: block;
    margin: 15px 0;
}
form::after {
    content: '🍏';
    display: block;
}

/* Layout */
.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85rem;
    display: grid;
    grid-row-gap: 10px;
}
#main-content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
header, footer, nav, article {
    /*margin: 20px;*/
    padding: 15px;
    background-color: lightgray;
}
aside {
    background-color: lightblue;
    padding: 15px;
}


/* Headings */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

/* Navigation */
nav li {
    display: inline-block
}
nav ul {
    padding: 0
}
nav a {
    /*margin-right: 15px;*/
    padding: 15px;
}
nav a:hover {
    text-decoration: none;
    background-color: white;
}
#navigation {
    background-color: lightblue
}
@media screen and (max-width: 600px) {
    nav li {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid var(--primary-light-color);
    }
    nav li:last-child {
        border-bottom: none;
    }
    .logo-container {
        display: none;
    }
    header {
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 600px) {
    header {
        grid-template-columns: 1fr 2fr;
    }
}

/* Header */
header {
    height: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* Footer */
.footer-container {
    display: flex;
}
.footer-box {
    flex: 1
}

/* Links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none; /* Remove underline for links */
}
a:hover {
    text-decoration: underline;
}
a.active {
    font-weight: bold;
}

