
/* General styling */
:root {
    --primary-color: #1A8E75;
    --secondary-color: #67CBC1;
    --primary-light-color: #F6F4E5;
    --maybe-use-this-later-color: #DA8C48;
    --alert-color: #B55750;
    --standard-font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --standard-font-size: 1.1rem;
}
html {
    font-family: var(--standard-font-family);
    font-size: var(--standard-font-size);
}
body {
    background-color: var(--primary-color);
}

/* Forms */
input:valid {
    border: 1px solid var(--primary-color);
}
input:invalid {
    border: 1px solid var(--alert-color);
}
input[type="text"], input[type="tel"], input[type="email"], select, input[type="submit"] {
    padding: 10px;
    display: block;
    margin: 15px 0;
}
form::after {
    content: '🍏';
    display: block;
}
form[name="contact-us"] textarea {
    resize: none;
    width: 100%;
    height: 200px;
    padding: 10px;
    font-family: var(--standard-font-family);
    font-size: var(--standard-font-size);
}
form[name="contact-us"] input[type="submit"] {
    background-color: var(--primary-color);
    color: #fff;
}

/* Search box */
input[type="search"] {
    border-radius: 11px;
    padding: 20px 20px 20px 50px;
    font-family: var(--standard-font-family);
    font-size: var(--standard-font-size);
    border: 2px solid var(--primary-color);
    width: 100%;
    background-image: url('./zoom.svg');
    background-repeat: no-repeat;
    background-size: 22px auto;
    background-position: 15px 50%;
}

/* Layout */
.main-container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 85rem;
    display: grid;
    grid-row-gap: 10px;
}
#main-content-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
header, footer, nav, article {
    /*margin: 20px;*/
    padding: 15px;
    background-color: lightgray;
}
aside {
    background-color: lightblue;
    padding: 15px;
}


/* Headings */
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}

/* Navigation */
nav li {
    display: inline-block
}
nav ul {
    padding: 0
}
nav a {
    /*margin-right: 15px;*/
    padding: 15px;
}
nav a:hover {
    text-decoration: none;
    background-color: white;
}
#navigation {
    background-color: lightblue
}
@media screen and (max-width: 600px) {
    nav li {
        display: block;
        padding: 20px 0;
        border-bottom: 1px solid var(--primary-light-color);
    }
    nav li:last-child {
        border-bottom: none;
    }
    .logo-container {
        display: none;
    }
    header {
        grid-template-columns: none;
    }
    #icons-container {
        flex-direction: column;
    }
    #main-content-container {
        grid-template-columns: none; /* Move sidebar below main content area */
    }

}

@media screen and (min-width: 600px) {
    header {
        grid-template-columns: 1fr 2fr;
    }
    
}

/* Header */
header {
    height: 100px;
    display: grid;
    background: url("./apples_bg.jpg") 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

/* Footer */
.footer-container {
    display: flex;
}
.footer-box {
    flex: 1
}

/* Icons */
#icons-container {
    display: flex;
    border-top: 1px solid black;
    margin: 50px 0;
    padding: 50px 10px;
}
.icon-card:nth-child(1) {
    background-image: url('./001-watermelon.svg');
}
.icon-card:nth-child(2) {
    background-image: url('./002-orange.svg');
}
.icon-card:nth-child(3) {
    background-image: url('./003-strawberry.svg');
}
.icon-card {
    flex: 1;
    height: 50px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 50px auto;
    padding-top: 50px;
}

/* Links */
a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none; /* Remove underline for links */
}
a:hover {
    text-decoration: underline;
}
a.active {
    font-weight: bold;
}

